/**
 * =GLOBAL STYLES
 */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    color: #0b1c38;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
h1 {
    color: #88be43;
    font-size: 18px;
    border-top: 2px solid #88be43;
    text-align: center;
    text-transform: uppercase;
}
h1 strong {
    padding: 0 30px;
    position: relative;
    top: -11px;
    background: #fff;
}

/**
 * =header
 */
.logo {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}
.logo img {
    width: 90%;
}
/**
 * =navigation
 */
header {
    position: relative;
    padding: 0 55px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.wide_only {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 55px;
}
nav.wide_only ul {
}
ul.profile {
    float: left;
}
ul.tools {
    float: left;
}
.tools a {
    width: 211px;
    text-align: center;
}
.tools a:hover {
    background: #88be43;
}
nav.wide_only li li {
    float: left;
}
nav.wide_only li a {
    padding: 1.2rem 4rem;
    margin: 0 .2rem;
    display: block;
    background: #0b1c38;
    color: #fff;
}
nav.wide_only li a:hover {
    text-decoration: none;
}
.wide_only .nav-signup a {
    padding: 1.3rem 4rem;  
    border-radius: 0 0 10px 10px;
    background: #88be43;
}
.wide_only .nav-login a {
    height: 0;
    padding: 52px 2rem 0 4rem;
    background: transparent url(/images/icon/log-in.png) no-repeat 50% 100%;
    overflow: hidden;
    background-size: 36%;
}
/**
 * =search
 */
.search {
    position: relative;
    margin: 0 55px;
}
.search-simple {
    width: 100%;
    padding-left: 280px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
    float: right;
    font-size: 18px;
}
.search-simple dl {
    width: 50%;
}
.search-simple dd {
    padding: .3rem 4rem;
    text-transform: lowercase;
    font-weight: bold;
}
.search-what {
    float: left;
}
.search-where {
    float: left;
}
.search-simple input {
    background: #eaf3dd;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 4rem;
    height: 60px;
}
.search-where input {
    padding-right: 70px;
}
.search-what input {
    border-right: 1px solid #9d9d9d;
}
.submit {
    width: 66px;
    height: 0;
    padding-top: 60px;
    border: 0;
    position: absolute;
    right: 0;
    top: -120px;
    z-index: 3;
    background: transparent url(/images/icon/search-submit.png) 0 0;
}
.body-search .submit {
    width: auto;
    position: static;
    background: #88be43;
    height: auto;
    padding: .5em 1em;
    color: #fff;
    font-size: 1.3em;
    float: right;
}
.body-search .submit:after {
    display: table;
    content: "";
}
.search-tools {
    display: none;
}
.body-search .search-tools {
    display: block;
}

/**
 * =search page
 */
.body-search h1 {
    margin-top: 100px;
}
#sign_in_to_save_fav {
    display: none;
}
/**
 * =footer
 */
footer {
    margin-top: 155px;
    text-align: center;
}
footer ul {
    list-style: none;
}
footer li {
    display: inline-block;
}
footer a {
    color: #0b1c38;
    font-size: 2rem;
    padding: 1rem 2rem;
}

/**
 * =home
 * =company logos
 */
.company-logos {
    list-style: none;
    margin: 0 55px;
    margin: -11px 55px 0;
    padding: 0;
    text-align: center;
}
.company-logos li {
    width: 16%;
    padding: 0 15px;
    display: inline-block;
}
.company-logos img {
    width: 100%;
}

/**
 * =featured company
 */
.featured-company {
    margin: 66px 33px 8px;
}
.featured-company-image {
    width: 60%;
    width: 59.8%;
    float: left;
}
.featured-company-image img {
    width: 100%;
}
.featured-company-description {
    width: 40%;
    float: left;
    padding-left: 35px;
}
.featured-company-description h2 {
    font-size: 30px;
    color: #88be43;
    margin: -.3em 0 1.3em;
    line-height: 1.25em;
}
.featured-company-description h2 strong,
.featured-company-description h2 em {
    display: block;
    font-style: normal;
}
.featured-company-description p {
    font-size: 18px;
}
.more-featured-companies dd {
    display: none;
}
.more-featured-companies {
    margin: 0 33px;
    margin: 0 29px;
}
.more-featured-companies dl {
    margin: 0;
}
.more-featured-companies .featured-company-image {
    width: 20%;
    padding: 0 4px;
}
.more-featured-companies .featured-company-image img {
    cursor: pointer;
}
.more-featured-companies .featured-company-image img.current,
.more-featured-companies .featured-company-image img:hover {
    opacity: .7;
}
/**
 * =jobs page
 */
.body-jobs h2 {
    width: 40%;
}
.jobs-filter {
    float: right;
    color: #88be43;
    font-weight: normal;
    font-size: .9em;
    margin-top: -.25em;
    display: inline-block;
}
.jobs-filter svg {
    fill: #88be43;
    position: relative;
    top: .25em;
}
#jobs-listing {
    padding-left: 0;
    margin-left: 0;
    padding-right: 60%;
    position: relative;
    list-style: none;
}
#jobs-listing li {
    padding: 1em 1em 0 2em;
    background: #ddd;
    border-bottom: 2px solid #aaa;
}
#jobs-listing .current {
    background: #88be43;
    color: #fff;
}
#jobs-listing .current .est-salary {
    color: #0b1c38;
}
#jobs-listing .job-title {
    font-size: 1.2em;
}
#jobs-listing .date-listed {
    padding: .4em 1em;
    float: right;
    position: relative;
    bottom: .75em;
    right: -1em;
    color: #fff;
    background: #0b1c38;
}
#jobs-listing .long-description {
    display: none;
    color: #0b1c38;
}
#jobs-listing .current .long-description {
    display: block;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
}
#jobs-listing h3 {
    font-size: 16px;
    color: #88be43;
    text-decoration: underline;
}
.apply-now a {
    margin-top: 2em;
    padding: .5em 1.5em;
    float: left;
    color: #fff;
    font-size: 1.15em;
    background: #88be43;
}
/**
 * =register form
 */
#register_form_membership_type {
    width: 45%;
    float: left;
    margin-bottom: 2em;
}
#register_form_membership_type input[type=submit] {
    display: none;
}
.register-form:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}
.register-form {
    color: #9d9d9d;
}
.register-form table {
    width: 100%;
}
.company-information {
    clear: left;
    width: 45%;
    background: #eaf3dd;
    padding: 0 2em 2em;
    float: left;
}
.general-information {
    margin-top: 1em;
    width: 45%;
    background: #eaf3dd;
    padding: 2em;
    float: right;
}
.company-information + .general-information {
    margin-top: -7em;
}
.register-form td {
    padding-bottom: 1em;
}
.register-form td:first-child {
    width: 30%;
}
.register-form input {
    border: 1px solid #9d9d9d;
    border-left: none;
    border-top: none;
    border-right: none;
    background: #eaf3dd;
    width: 100%;
}
.register-form input[name=accept] {
    width: auto;
    margin-right: 1em;
}
.register-form input[type=submit] {
    background: #88be43;
    padding:.5em 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border: none;
}
/**
 * =advanced search
 */
.advanced-search {
    width: 100%;
    padding-left: 280px;
    display: none;
    font-size: 18px;
}
.body-search .advanced-search {
    display: block;
}
.advanced-search table {
    width: 100%;
    border-collapse: collapse;
}
.advanced-search td {
    width: 50%;
}
.advanced-search label {
    margin-bottom: 1em;
    padding: .3rem 4rem;
    text-transform: lowercase;
}
.advanced-search table input,
.advanced-search table select {
    background: #eaf3dd;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 4rem;
    height: 60px;
}
/**
 * =search results
 */
#myTable td {
    padding: .5em 1em;
}
#myTable th {
    padding: 1em;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: bold;
  font-size: 1.5em;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
