/**
 * =GLOBAL STYLES
 */
html {
}
body {
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    color: #0b1c38;
}

/**
 * =header
 */
.logo {
    display: inline-block;
    margin-top: 111px;
    margin-bottom: 88px;
    z-index: 2;
    position: relative;
}
/**
 * =navigation
 */
header {
    position: relative;
    padding: 0 55px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.wide_only {
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 55px;
}
nav.wide_only ul {
}
ul.profile {
    float: left;
    xxxbackground: yellow;
}
ul.tools {
    float: right;
}
nav.wide_only li li {
    float: left;
}
nav.wide_only li a {
    padding: 1.2rem 4rem;
    margin: 0 .2rem;
    display: block;
    background: #0b1c38;
    color: #fff;
}
#nav-signup a {
    padding: 1.9rem 4rem;
    border-radius: 0 0 10px 10px;
    background: #88be43;
}
#nav-login a {
    height: 0;
    padding: 57px 2rem 0 2rem;
    background: transparent url(/images/icon/log-in.png) no-repeat 100% 100%;
    overflow: hidden;
}
/**
 * =search
 */
.search {
    position: relative;
    margin: 0 55px;
}
.search-simple {
    width: 100%;
    padding-left: 280px;
    margin-top: -230px;
    position: relative;
    z-index: 1;
    float: right;
    font-size: 18px;
}
.search-simple dl {
    width: 50%;
}
.search-simple dd {
    padding: 0 3rem;
    text-transform: lowercase;
    font-weight: bold;
    
}
.search-what {
    float: left;
}
.search-where {
    float: left;
}
.search-simple input {
    background: #eaf3dd;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    height: 60px;
}
.search-where input {
    padding-right: 70px;
}
.search-what input {
    border-right: 1px solid #9d9d9d;
}
.submit {
    position: absolute;
    right: 0;
    top: -230px;
    z-index: 3;
    height: 0;
    padding-top: 60px;
    background: transparent url(/images/icon/search-submit.png) 0 0;
    border: 0;
}
/**
 * =footer
 */
footer {
    margin-top: 155px;
    text-align: center;
}
footer ul {
    list-style: none;
}
footer li {
    display: inline-block;
}
footer a {
    color: #0b1c38;
    font-size: 2rem;
    padding: 1rem 2rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
